<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find model_description)/urdf/common.xacro" />
  <xacro:include filename="$[find model_description]/urdf/materials.xacro"/>
  
  <xacro:macro name="gscam_gazebo" parames="link_name">
	<gazebo reference="${link_name}">
	  <material>Gazebo/Black</material>
	  <sensor type="camera" name="gscam">
		<update_rate>60.0</update_rate>
		<camera name="gscam">
          <horizontal_fov>1.570796</horizontal_fov>
          <image>
			<width>744</width>
			<height>480</height>
			<format>R8G8B8</format>
          </image>
          <clip>
			<near>0.02</near>
			<far>300</far>
          </clip>
          <noise>
			<type>gaussian</type>
			<mean>0.0</mean>
			<stddev>0.00</stddev>
          </noise>
		</camera>
		<plugin name="camera_controller" filename="libgazebo_ros_camera.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>60.0</updateRate>
          <cameraName>gscam</cameraName>
          <imageTopicName>image_raw</imageTopicName>
          <cameraInfoTopicName>camera_info</cameraInfoTopicName>
          <frameName>${link_name}</frameName>
          <hackBaseline>0.0</hackBaseline>
          <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2>
		</plugin>
      </sensor>
	</gazebo>
  </xacro:macro>
</robot>
