<?xml version="1.0"?>
<robot name="gscam" xmlns:xacro="http://ros.org/wiki/xacro">
  
  <xacro:include filename="$(find model_description)/urdf/common.xacro"/>
  <xacro:include filename="$(find model_description)/urdf/materials.xacro"/>
  <xacro:include filename="$(find model_description)/urdf/sensor/camera.urdf.xacro"/>
  <xacro:include filename="$(find model_description)/urdf/sensor/camera.gazebo.xacro"/>
  
  <link name="world"/>
  <xacro:camera_link_v0 parent="world" name="camera_link">
	<origin xyz="0 0 1.0" rpy="0 ${M_PI/2} 0"/>
  </xacro:camera_link_v0>

  <xacro:gscam_gazebo name="camera_link"/>
  
</robot>
